@import 'icon/*.png';
@include all-icon-sprites;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}
h1{
	font-family: $headerfont;
	font-size: 3em;
	@include centerme;
	margin: 0px;
	padding-top: 20px;
}

body{
	font-family: $bodyfont;
	@include centerme ;
	@include backgroundimg;
	height: 100%;
}

.wrapper{
	// padding-top: 10px;
	margin: 0 auto;
	width: 100%;
	max-width: 750px;
	background-color: rgba(255, 255, 255, 1);
	// height: 100%;
}
ul{
	max-width: 600px;
	// @include centerme;

	padding: 0px;
	margin: 0 auto;
	li{
		list-style: none;
		display: inline-block;
		a{
				display: inline-block;
				width: 200px;
				height: 200px;

				span{
					position: absolute;
					top: -9999em;
					left: -9999em;
					
				}//span
			}//a
	}
}

/*media query block medium mobile*/
@media only screen and (min-width: 481px) and (max-width: 768px){

} /*end medium tablet  block*/

/*media query block small mobile*/
@media only screen and (max-width: 480px){

} /*end small mobile block*/
