@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Quicksand|Shadows+Into+Light+Two');

$headerfont: 'Shadows Into Light Two', cursive;
$bodyfont: 'Quicksand', sans-serif;

$imageurl: "../img/background.png";