@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight|Poiret+One');

$bgcolor: rgba(20, 182, 204, .5);
$copycolor: rgba(61, 142, 153, 1);
$headercolor: rgba(0, 255, 144, 1);
$boxcolor: rgba(255, 64, 64, .9);
$bordercolor: rgba(204, 20, 113, 1);

$copyfont: 'Poiret One', sans-serif;
$headerfont: 'Limelight', cursive;
$linkfont: 'Josefin Sans', sans-serif;